body {
  z-index: 0;
}


.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.p-menuWrap {
  padding: .2rem;
  background: linear-gradient(
    to bottom,
    #777777,
    #FFFFFF
  );
}

.p-menu {
  display: flex;
}

.l-main {
  flex: 1;
  height: 30rem;
}

.l-container {
  margin: 0 auto;
  overflow: hidden;
}

.l-footer {
  padding: 1rem 0 0;
}

.p-copyright {
  margin: .8rem 0;
  font-size: .78rem;
  text-align: center;
}

ol,ul {
  list-style: none;
  padding-inline-start: 0;
}

