.p-history {
  margin: 15rem 8rem;
/*  overflow-x: scroll; */
}

/* history canvas */
.p-historyCanvasWrap {
  display: inline-block;
/*  width: 200%; */
}

.p-historyCanvas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.p-historyCanvas__node {
  padding: .5rem .5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: all .3s ease;
  transform-origin: center;
  background-color: rgba(150,255,150,.9);
  z-index: 2;
}
.p-historyCanvas__node:hover {
  transform: scale(1.2, 1.2);
  background-color: rgba(180,255,50,.9);
}

.p-historyCanvas__line {
  margin-left: -.3rem;
  margin-right: -.3rem;
  height: .8rem;
  border-radius: 8px;
  background: rgba(200,255,120,.9);
  animation: progress .8s normal forwards;
  z-index: 1;
}

@keyframes progress {
  0%{
    width: 1rem;
  }

  100%{
    width: 14rem;
  }
}

/* history content */
.p-historyContents {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.p-historyContents__node:first-child {
  margin-left: 0;
}

.p-historyContents__node {
  width: 16rem;
}

.p-historyContents__year {
  margin: 1rem 0 1rem -.2rem;
}

.p-historyContents__year span {
  display: block;
  font-size: 1.3rem;
  font-weight: 800;
}

.p-historyContents__events {
  margin: 1.5rem 0 1rem -.2rem;
}

.p-historyContents__events span {
  display: block;
  font-size: 1rem;
}

.p-historyContents__event {
  display: flex;
  align-items: center;
}

.p-historyContents__event span {
  margin-right: .8rem;
  font-size: 1.2rem;
}

.p-historyContents__eventAdd {
  padding: .2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0,165,220,.9);
}
.p-historyContents__eventAdd:before {
  content: "+";
  display: block;
  position: absolute;
  transform: translate(-4%, -10%);
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.p-historyContents__eventEdit {
  padding: .2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0,220,165,.9);
}

.p-tempInput__year, .p-updateInput__year {
  z-index: 1;
}

.p-tempInput__event, .p-updateInput__event {
  width: 10rem;
  resize: none;
}
