<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="自分だけの年表を作れるサイト - MyChronology">
    <meta name="theme-color" content="#88FF88">
    <link type="text/css" rel="preload" as="style" href="./css/components/c-flex.css?ver=1" onload="this.onload=null;this.rel='stylesheet'">
    <link type="text/css" rel="preload" as="style" href="./css/components/c-input.css?ver=1" onload="this.onload=null;this.rel='stylesheet'">
    <link type="text/css" rel="preload" as="style" href="./css/p-canvas.css?ver=1" onload="this.onload=null;this.rel='stylesheet'">
    <link type="text/css" rel="preload" as="style" href="./css/index.css?ver=1" onload="this.onload=null;this.rel='stylesheet'">
    <link type="text/css" rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" onload="this.onload=null;this.rel='stylesheet'">
    <title>MyChronology</title>
  </head>
  <body>
    <header class="l-header">
      <section class="p-menuWrap c-flex--spaceBetween">
        <section class="c-service__icon">サービスロゴ</section>
        <nav class="p-menu">
          <ul class="p-menu__item c-flex--spaceBetween">
            <li>
              <span>メニュー1</span>
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <main class="l-main">
      <section class="l-container">
        <section id="history" class="p-history">
          <!-- 描画部分 -->
          <section class="p-historyCanvasWrap">
            <section id="history-canvas" class="p-historyCanvas">
              <!--
                p-historyCanvas__node: 点
                p-historyCanvas__line: 線
              -->
              <section data-id="1" class="p-historyCanvas__node js-historyCanvas__node"></section>
              <section class="p-historyCanvas__line"></section>
            </section>
          </section>

          <!-- コンテンツ部分 -->
          <section class="p-historyContentsWrap">
            <section id="history-contents" class="p-historyContents">
              <!--
                p-historyContents__year: 年
                p-historyContents__events: p-historyContents__eventのグループ
                p-historyContents__event: 年ごとの出来事
                p-historyContents__eventEdit: event編集ボタン
                p-historyContents__eventDelete: event削除ボタン
                p-historyContents__eventAdd: event追加ボタン
              -->
              <section id="contents-node-1" class="p-historyContents__node js-historyContents__node" data-id="1">
                <section class="p-historyContents__year js-historyContents__year">
                  <span>YYYY</span>
                </section>
                <section class="p-historyContents__events js-historyContents__events">
                  <section class="p-historyContents__event js-historyContents__event">
                    <span>出生</span>
                    <section class="p-historyContents__eventEdit js-historyContents__eventEdit"></section>
                    <section class="p-historyContents__eventDelete js-historyContents__eventDelete"></section>
                  </section>
                </section>
                <section class="p-historyContents__eventAdd js-historyContents__eventAdd">
                </section>
              </section>
            </section>
          </section>
        </section>

        <section id="to-history-image" class="p-createHistoryImageButton">
          年表を画像として生成
        </section>
        <section class="p-canvasWrap js-canvasWrap">
          <canvas id="canvas" class="canvas"></canvas>
        </section>
        <section class="p-downloadButton__buttonWrap js-downloadButton__buttonWrap c-hidden">
          <button type="button" id="download" class="p-downloadButton">画像をダウンロード</button>
        </section>
      </section>
    </main>

    <hr>

    <footer class="l-footer">
      <section class="p-footer__contentsWrap"></section>
      <section class="p-copyright">© 2024 MyChronology</section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script type="module" src="./js/index.js?ver=1" defer></script>
  </body>
</html>
